@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap');

* {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-collapse{
  border: none;
  background-color: transparent;
}

.nav-links-text{
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

main{
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.footer-text1{
  font-size: 16px;
  font-family: "Inter";
}

.footer-text2{
  font-size: 14px;
  font-family: "Inter";
  text-decoration: none;
  color: white;
}

.section-1-text-1{
  font-family: "Inter";
  font-size: 15px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: -4px;
}

.section-1-text-2{
  font-family: "Inter";
  font-size: 25px;
  font-weight: 700;
}

.line1{
  background-color: black;
  width: 50px;
  height: 5px;
  margin-top: -5px;
  margin-bottom: 60px;
}

.line2{
  background-color: black;
  width: 50px;
  height: 5px;
  margin-top: 10px;
  margin-bottom: 60px;
}

